.sectionMeals {
  padding: 9.2rem 4rem;
}

.mealContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: center;
  grid-gap: 4rem;
}

.filterRes {
  margin: 2rem 0;
  display: flex;
  gap: 10px;
  display: flex;
  justify-content: flex-end;

  button {
    border: none;
    padding: 8px 20px;
    border-radius: 2px;
    background-color: #e67d2277;
    font-weight: bold;
    cursor: pointer;
  }
}

.searchInput {
  text-align: center;

  input {
    width: 40%;
    border: none;
    border-bottom: 1px solid #e67d2277;
  }
}
