.grid{
    margin-bottom: 9.8rem;
}

.featureTitle{
    font-size: 2.4rem;
    color:#333; 
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.featureText{
    font-size: 1.8rem;
    line-height: 1.8;
    color:#e67e22;

}

.featureIconBox{
    margin-bottom: 3.2rem;  
}

.featureIcon{
    background-color: #fdf2e9;
    display: inline-block;
    padding: 1.6rem;
    border-radius: 50%;
}